.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 0px;
}

.contact-content {
  text-align: center;
  max-width: 600px;
  padding: 30px;
  background-color: #fff; /* White background for the contact box */
  
  border-radius: 10px; /* Rounded corners */
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Darker text for title */
}

.contact-message {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666; /* Light gray for the message text */
}

.contact-info {
  font-size: 1rem;
  color: #444; /* Darker color for contact info */
  margin-top: 20px;
}

.email-info,
.social-info {
  margin-bottom: 10px; /* Space between each contact info */
}

.email-link,
.linkedin-link {
  color: #0077b5; /* LinkedIn blue color for links */
  text-decoration: none; /* Remove underline from links */
}

.email-link:hover,
.linkedin-link:hover {
  text-decoration: underline; /* Underline the links on hover for interactivity */
}

.linkedin-link {
  font-weight: bold; /* Make LinkedIn link stand out */
}

.contact-info p {
  margin: 10px 0; /* Space out the contact info paragraphs */
}
